*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#navbar{
    background-color: rgb(82 86 16);
    padding: 10px;
}
#navbar ul{
    display: flex;
    /* flex-direction: row; */
    justify-content: center;

}

#navbar li{
    list-style: none;

}

#navbar li a{
    color: white;
    text-decoration: none;
    padding: 18px;

}
#navbar li a:hover{
    color: black;
}

#introsection {
    color: white;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    background-color: red;
    background: center/cover  no-repeat url("../static/bg.jpg")

}

#sponsorsection{
    height: 200px;
    background-color:  rgb(82 86 16);
    text-align: center;
    padding-top: 7px;

}

#footer{
    height: 33px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

#missionsection {
    height: 250px;
    background-color:  rgb(170 171 161);
    text-align: center;
}

#missionsection h2{
    
    text-align: center;
    padding-top: 7px;

}

.card{ 
    border: 2px solid  rgb(82 86 16);
    width: 20%;
    height: 70%;
    margin: 7px 16px;
    display: inline-block;
    border-radius: 13px;
    background-color:  rgb(138 142 67);
}

img{
    height: 41px;
}

.card-img img{
    height: 154px;
}
.spimage{
    height: 111px;
    width: 131px;
    padding: 0px 0px;
    margin: 24px 50px;
}